.footer {
  background-color: #054420;
  color: rgb(4, 59, 34);
  padding: 3rem 1rem 1rem;
  font-family: sans-serif;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section {
  flex: 1 1 250px;
  min-width: 250px;
}

.footer-title {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #083e1c;
}

.social-icons {
  display: flex;
  gap: 1rem;
  font-size: 1.5rem;
  color: #05321c;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links li {
  margin-bottom: 0.7rem;
  cursor: pointer;
  color: #032914;
}

.footer-links li:hover {
  color: #083015;
  text-decoration: underline;
}

.newsletter-text {
  margin-bottom: 1rem;
  font-size: 0.95rem;
  color: #094b26;
}

.newsletter-form {
  display: flex;
  border-bottom: 1px solid #03460a;
  max-width: 300px;
}

.newsletter-form input {
  border: none;
  outline: none;
  background: transparent;
  padding: 0.5rem;
  flex: 1;
  color: rgb(14, 67, 21);
}

.newsletter-form button {
  background: none;
  border: none;
  color: rgb(5, 68, 18);
  font-size: 1.2rem;
  cursor: pointer;
}

.newsletter-form button:hover {
  color: #042818;
}

.copyright {
  text-align: center;
  padding-top: 2rem;
  font-size: 0.85rem;
  color: #074e18;
}
